
.a-slide-left {
    animation-name: slide-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    } 

    to {
        transform: translateX(-100%);
    }
}

.a-slide-right {
    animation-name: slide-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    } 

    to {
        transform: translateX(0);
    }
}