@import url('../settings/_settings-breakpoints.scss');

.row {
    display: flex;
    flex-flow: row;
}

.row--center {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.column {
    display: flex;
    flex-flow: column;
}

.column--center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.aligned {
    justify-content: center;
}

.blue {
    color: $blue-400;
    padding-left: 30px;
}

.green {
    color: $primary-400;
    padding-left: 30px;
}

.violet {
    color: $violet;
    padding-left: 30px;
}

.none {
    display: none;

    @include for-tablet-landscape-up {
        display: flex;
    }
}