
$primary-50: #DFF4F1;
$primary-100: #B0E3DC;
$primary-200: #7CD1C5;
$primary-300: #41BEAD;

$secondary-50: #FFF8E1;
$secondary-100: #FFECB3;
$secondary-500: #FFC20A;
$secondary-600: #FFB402;
$secondary-800: #FF9100;
$secondary-900: rgb(255,203,41);

$blue-50: #E3F3FD;
$blue-100: #BCE0FC;
$blue-200: #92CDFB;
$blue-300: #66B9F8;
$blue-400: #44A9F8;

$violet: #9A5DC6;

$grey-100: #f1f1f1;
$grey-200: #e6e6e6;
$grey-400: #b2b2b2;
$grey-500: #919191;
$grey-600: #696969;
$grey-700: #565656;

