@import '../settings/settings-colors';
@import '../settings/settings-breakpoints';
@import '../elements/elements-box-shadows';

.c-header {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100vw;
    padding: 16px;
    justify-content: space-between;
    box-shadow: $shadow-2dp;
    position: relative;
    z-index: 2;

    @include for-tablet-only {
        padding: 16px 75px;
    }

    &__drop-down-menu--orange {
        margin-right: 16px;
    }

    &__nav {
        flex-flow: row wrap;
        display: none;
        @media (max-width: 899px) {
            padding-left: 0;
            position: absolute;
            bottom: -160px;
            right: 38px;
            background: rgba(255, 255, 255, 0);
            padding: 10px;
            border-radius: 20px;
            font-size: 24px;

            li > a {
                color: white;
            }
        }
        
        @include for-tablet-landscape-up {
            display: flex;
        }

        &-burger {
            border: none;
            color: $secondary-800;
        }
    }

    &__nav-link {
        text-transform: uppercase;
        color: #565656;
        font-family: 'Lato', sans-serif;
        font-size: 13px;

        @include for-tablet-landscape-up {
            margin-right: 16px;
        }

        @include for-desktop-up {
            margin-right: 48px;
        }

        &:hover {
            color: $secondary-800;
        }
    }

    &__search {
        display: none;

        @include for-tablet-landscape-up {
            display: inline-block;
            margin-left: 28px;
        }

        &-bar {
            display: none;

            input {
                top: 60px;
                position: absolute;
                right: 145px;
                width: 125px;
                height: 30px;
                border: $primary-400 1px solid;
                border-radius: 8px;
            }
        }
    }

    &__search:hover {
        cursor: pointer;
    }



    &__burger-menu {
        margin: 0 8px;
        cursor: pointer;

        @include for-tablet-landscape-up {
            visibility: hidden;
        }

        &--orange {
            color: $secondary-800;
        }
    }
}
