

.c-contact-us__bot {
    background-color: $secondary-50;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 50px 30px;

    @include for-tablet-landscape-up {
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 70px;
    }

    &-heading {
        text-align: center;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        @include for-tablet-landscape-up {
            grid-row: 1 / 2;
            grid-column: 1 / 4;
        }
    }

    &-metro {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        @include for-tablet-landscape-up {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
    }

    &-bus {
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        @include for-tablet-landscape-up {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
    }

    &-van {
        grid-row: 4 / 5;
        grid-column: 1 / 2;

        @include for-tablet-landscape-up {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }
    }
}