
.c-bottom-content {
    padding: 0 20px;
    
    &__certificate {
        display: none;
        margin-top: 55px;
        margin-bottom: 90px;

        @include for-tablet-landscape-up {
            display: grid;
            grid-template-columns: 50% 30%;
            grid-template-rows: 1fr;
            justify-content: space-around;
            justify-items: center;
            align-items: center;
        }

        &-heading {
            display: grid;
            grid-column: 1 / 2;
            grid-template-columns: 50px 1fr;
            grid-template-rows: min-content min-content;

            h3 {
                margin: 0;
            }

            &-logo {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }

            &-heading {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }

            &-text {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }
        }

        &-image {
            max-width: 363px;
            grid-column: 2 / 3;

            img {
                width: 100%;
            }
        }
    }
}