@import '../settings/settings-colors';
@import "../settings/settings-breakpoints";
@import url('../elements/_elements-box-shadows.scss');

.btn {
    text-transform: uppercase;
    border-radius: 100px;
    display: inline-block;
    height: fit-content;
    cursor: pointer;
    box-shadow: $shadow-4dp;

    &:hover {
        box-shadow: none;
    }

    &__contacts {
        color: $secondary-800;
        border: $secondary-800 1px solid;
        background-color: #ffffff;
        padding: 16px 32px;
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        justify-self: center;
    }

    &__primary {
        color: white;
        background-color: $secondary-800;
        border: none;
    }

    &__stretch {
        padding: 16px 94px;
        margin: 46px 0;

        @include for-tablet-landscape-up {
            padding: 14px 32px;
            margin-left: 10px;
        }
    }

    &__header {
        padding: 10px 22px;
        margin-left: 32px;
    }

    &__main {
        padding: 14px 32px;
    }

    &__gallery {
        color: $secondary-800;
        border-color: $secondary-800;

        @include for-desktop-up {
            justify-self: end;
            margin-right: 40px;
        }
    }

    &__form {
        padding: 14px 129px;
        margin: 0 auto;
        display: block;

        @include for-tablet-landscape-up {
            padding: 14px 32px;
            margin-left: 12px;
            display: inline-block;
        }
    }

    &__blog {
        color: #ffffff;
        border-color: #ffffff;
        background-color: $blue-300;
        grid-area: blog-button;
        justify-self: end;
        margin-bottom: 100px;
        margin-top: 20px;
    }
}



