
.c-image__circle {
    position: relative;
    width: 175px;
    height: 172px;
    overflow: hidden;
    border-radius: 50%;
    border: 8px solid $primary-300;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-tablet-landscape-up {
        grid-row-start: 1;
        grid-column: 1 / 2;
        align-self: center;
    }

    img {
        width: 100%;
        height: 100%;
    }
}
