@import url('../settings/_settings-colors.scss');
@import url('../settings/_settings-breakpoints.scss');


.c-footer {
    position: relative;
    background-color: $grey-700;
    border-top: 12px solid $grey-500;
    min-height: 312px;   
    padding: 0 20px; 
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
                        'footer-one footer-three'
                        'footer-two footer-four'
                        'copyright copyright';

    @include for-tablet-only {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr min-content min-content;
        grid-template-areas: 
                            'footer-one footer-two footer-three'
                            'footer-one footer-four footer-three'
                            'copyright copyright copyright'
    }

    @include for-tablet-landscape-up {
        grid-gap: 0 20px;
        height: 312px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr min-content;
        grid-template-areas: 
                            'footer-image footer-one footer-two footer-three footer-four'
                            'footer-image copyright copyright copyright copyright';
    }

    &__image {
        grid-area: footer-image;
        display: none;

        @include for-tablet-landscape-up {
            display: inline-block;
            position: relative;
            top: -123px;
            left: 20px;
        }
    }

    &__ul {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 4px;
        justify-self: center;
        width: 145px;

        p {
            color: #ffffff;
            font-family: 'Lato';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }

        &--one {
            grid-area: footer-one;
            position: relative;
        }

        &--two {
            grid-area: footer-two;
        }

        &--three {
            grid-area: footer-three;
        }

        &--four {
            grid-area: footer-four;

            @include for-tablet-only {
                display: flex;
                flex-direction: column;
                max-width: max-content;
            }
        }

        &-grey-text {
            font-family: 'Lato';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $grey-500;
            grid-area: copyright;
            text-align: center;
            border-top: 1px solid $grey-600;
            margin-top: 10px;

            @include for-tablet-landscape-up {
                align-self: center;
                border: none;
                margin-top: -9px;
            }
        }

        li {
            margin: 6px 0;

            a:hover {
                color: $primary-300;
            }

            a {
                font-family: 'Lato';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: $grey-200;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.c-footer__hidden { 
    display: none;

    @include for-tablet-only {
        display: inline-block;
    }
}
