@import url('../settings/_settings-colors.scss');
@import url('../settings/_settings-breakpoints.scss');

.c-dots__banner {
    min-height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -130px;
    right: -60px;

    @media (min-width: 1035px) {
        min-height: 163px;
        top: -58px;
    }

    .c-dots__single {
        animation-name: handball;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
}

@for $i from 0 through 20 {
    .c-dots__single:nth-child(3n + #{$i}) {
        animation-delay: 0.2s * $i;
    }
}

@keyframes handball {
    0% {
        transform: translate(0px);
    }

    25% {
        transform: translate(50px);
    }

    50% {
        transform: translate(0px);
    }

    75% {
        transform: translate(50px);
    }

    100% {
        transform: translate(0px);
    }
}

.c-dots__vertical {
    margin: 0 27px;
    flex-direction: column;
    width: min-content;
    grid-area: vertical;
    min-height: 836px;
    justify-content: space-between;
    display: none;

    @include for-tablet-landscape-up {
        display: flex;
    }
}

.c-dots__horizontal {
    display: flex;
    flex-direction: row;
    width: min-content;
    grid-area: horizontal;
    max-width: 1268px;
    width: 100%;
    justify-content: space-between;
}

.c-dots__single {
    width: 12px;
    height: 12px;
    border-radius: 50px;

    &--teal-light {
        background-color: $primary-50;
    }

    &--teal {
        background-color: $primary-300;
    }

    &--blue {

        @include for-tablet-landscape-up {
            background-color: $blue-400 !important;
        }
    }

    &--orange {
        background-color: $secondary-600;
    }

    &--primary {
        background-color: $secondary-800;
    }

    &--yellow {
        background-color: $secondary-100;
    }

    &--white {
        box-shadow: inset $shadow-1dp;
        background-color: #ffffff;
    }

    &--white:nth-child(1) {
        box-shadow: inset -1px 0 0 rgba(0,0,0,0.12);
    }
    &--white:nth-child(18) {
        box-shadow: inset 1px 0 0 rgba(0,0,0,0.12);
    }
}

.c-dots__top-content-bot {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0;

    @include for-tablet-landscape-up {
        flex-direction: column;
        min-height: 160px;
        max-width: 12px;
        justify-self: flex-end;
        margin: 0;
    }
}

.c-dots__top-content {
    width: 348px;
    position: absolute;
    left: -6px;
    top: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include for-tablet-landscape-up {
        display: none;
    }

    @include for-desktop-up {
        display: flex;
        flex-direction: column;
        width: min-content;
        height: 122px;
        position: absolute;
        left: 212px;
        top: -4px;
    }
}

.white-none {

    @include for-tablet-landscape-up {
        display: none;
    }
}

.c-dots__mid-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -5px;
    width: 100%;
}

.c-dots__mid-content--bot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -5px;
    width: 100%;
}

.c-dots__single--10 {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &--blue {
        background-color: $primary-50;
    }

    &--yellow {
        background-color: $secondary-100;
    }

    &--white {
        background-color: #ffffff;
    }
}

.dots-none {
    display: none;

    @include for-tablet-only {
        display: inline-block;
    }
}

.dots-none-tablet {
    display: none;

    @include for-tablet-landscape-up {
        display: inline-block;
    }
}

.c-dots__lecture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 45px;

}
